/* You can add global styles to this file, and also import other style files */
@import './assets/scss/colors';
@import './assets/scss/ach-theme';

html, body {
	background-color: $bg-color;
	height: 100%;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.ach-card-container {
	display: flex;
	justify-content: center; /* Horizontally center */
	align-items: center; /* Vertically center */
	height: 100vh; 
	.ach-card {
		background-color: $bg-white;
		border-radius: 8px;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		padding: 16px;
	}
}